@import url(produtos.css);

body{
	font-family: 'Roboto', sans-serif;
}

.banner {
	width:100%;
}

.titulo-principal {
	text-align: center;
	font-size: 2em;
	margin: 0 0 1em;
	clear: left;
}

.principal{
	padding: 3em 0 ;
	background: #ffff;
	width: 940px;
	margin: 0 auto;
}

.principal p{
	margin: 0 0 1em;
}

.principal strong{
	font-weight: bold;
}

.principal em {
	font-style: italic;
}

#missao {
	font-size: 20px
}

.utensilios {
	width:120px;
	float: left;
	margin: 0 20px 20px ;
}

.beneficios {
	padding: 3em 0;
	background: #88888888
}

.imagembeneficios {
	width: 60%;
}

.conteudo-beneficios{
	width: 640px;
	margin: 0 auto;
}

.lista-beneficios { 
	width: 40%;
	display: inline-block;
	vertical-align: top;
}

.itens {
	line-height: 1.5;
}

.mapa {
	padding: 3em 0;
	background: linear-gradient(#fefefe, #88888888);
}

.mapa p{
	margin: 0 0 2em;
	text-align: center;
}

.video{
	width: 560px;
	margin: 1em auto;
}